:root {
  box-sizing: border-box;
  font-size: 16px;
  --background-color: tomato;
  --foreground-color: cornsilk;
  --active-color: #a52a2a;
}

:root.blue-theme {
  --background-color: steelblue;
  --active-color: navy;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.icon {
  width: 24px;
  border: none;
  outline: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button > img {
  pointer-events: none;
}

body {
  width: 250px;
  padding: 0.75rem;
  background: var(--background-color);
  color: var(--foreground-color);
  display: grid;
  gap: 1rem;
}

.status-bar {
  display: flex;
  justify-content: space-between;

  * {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.25rem;
    border-radius: 0.25rem;
  }
}

.active {
  background: var(--active-color);
}

.timer,
.counter {
  text-align: center;
  font-weight: bold;
}

.timer {
  font-size: 5.5rem;
}

.counter {
  font-size: 1rem;
}

.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

#toggler {
  width: 100%;
  border: 0;
  background: var(--foreground-color);
  color: var(--active-color);
  font-weight: bold;
  border-radius: 0.25rem;
}

.tasks {
  display: grid;
  gap: 0.5rem;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: min-content;
  padding: 0.2rem;
  border-bottom: solid 0.15rem cornsilk;
  font-size: 0.875rem;
  font-weight: bold;
  overflow-y: visible;
  position: relative;
}

.task-menu-popup {
  position: absolute;
  right: 1.25rem;
  top: -4rem;
  background: cornsilk;
  color: var(--active-color);
  display: grid;
  border-radius: 0.25rem;
  overflow: hidden;
  height: 0;
  width: 0;
}

.task-menu-popup.open {
  height: max-content;
  width: max-content;
  border: solid 1px var(--active-color);
}

.task-menu-popup > * {
  display: flex;
  align-items: center;
  font-weight: normal;
  padding: 0.15rem 0.5rem;
  fill: var(--active-color);
}

.task-menu-popup .icon {
  position: relative;
  top: 1.5px;
  left: -2px;
}

.task-menu-popup > *:hover {
  cursor: pointer;
  background: tan;
}

.task-menu-popup > li + li {
  border-top: 1px solid var(--active-color);
}

#addTask {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border: 0;
  background: var(--foreground-color);
  color: var(--active-color);
  font-weight: bold;
  border-radius: 0.25rem;

  svg {
    fill: var(--active-color);
    position: relative;
    top: 1.5px;
  }
}

#addTask * {
  pointer-events: none;
}

.new-task-menu input {
  width: 100%;
}

.form {
  color: var(--active-color);
  background: var(--foreground-color);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  display: grid;
  gap: 0.25rem;
  font-weight: bold;
}

input {
  border: 2px solid var(--active-color);
  padding: 0.15rem 0.25rem;
  border-radius: 0.25rem;
  color: var(--active-color);
  font-weight: bold;
}

input:focus {
  outline: none;
}

.form-footer {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 2px solid var(--active-color);
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

#cancel {
  border: 0;
  background: none;
  color: var(--active-color);
}
#submit {
  border: 0;
  background: var(--active-color);
  color: var(--foreground-color);
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.task-list {
  padding: 0.2rem;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  font-weight: bold;
  background: #ffffff50;
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.task-list > li + li {
  margin-top: 0.5rem;
}

.task-list > li > * {
  flex: 0 0 24px;
}

.task-list > li > .task-title {
  flex: 1;
}

.task-list li:has(> input:checked) {
  text-decoration: line-through;
}

input[type='checkbox'] {
  border: 0;
  appearance: none;
  content: url(/circle-outline.svg);
  width: 24px;
  padding: 0;
}

input[type='checkbox']:checked {
  content: url(/check-circle.svg);
}
